@import url("https://fonts.googleapis.com/css?family=Merriweather:400,700");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Press+Start+2P&display=swap");
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "Press Start 2P", cursive;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f5d020;
    height: 100%;
    background-attachment: fixed;
    background-color: #181818;
    /* background-image: linear-gradient(315deg, #f9484a 0%, #fbd72b 74%); */
    /* background-image: url("/src/assets/streetfighter.png"); */
    /* display: none; */
}

h3 {
    color: white;
    margin-top: 50px;
    margin-bottom: 0px;
}

.event {
    font-size: 24px !important;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.ticket span {
    color: grey;
    font-size: 16px;
    margin-top: 20px;
}

.comment {
    margin-bottom: 40px !important;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 40px 20px;
}

.commenter {
    display: flex;
    flex-direction: column;
    max-width: 240px !important;
    margin: 0 30px !important;
}

.commenter .character__img {
    max-width: 240px !important;
    height: 240px !important;
}

.commentators-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.commentators-flex a {
    text-decoration: none;
}

.commentators-flex .spotlight__text {
    font-size: 16px;
}

.audio {
    position: fixed;
    top: 20px;
    right: 20px;
}

.audio button {
    font-size: 30px;
    background: transparent;
    border: none;
}

.logo {
    max-width: 600px;
    width: 100%;
    margin-top: 20px;
    height: auto;
    filter: invert(100%);
    -webkit-filter: invert(100%);
    margin-bottom: 50px;
}

.character__img.question-img {
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

.question-img-spotlight {
    filter: invert(100%) !important;
    -webkit-filter: invert(100%) !important;
}

.title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: white;
    letter-spacing: 0.1em;
    /* text-shadow: 0px 2px 2px rgb(255 255 255 / 60%); */
}

.inquiries p {
    margin-top: 60px;
    color: white;
    /* text-shadow: 0px 2px 2px rgb(255 255 255 / 60%); */
    font-size: 20px;
}

.inquiries a {
    font-size: 20px;
    color: white;
    /* text-shadow: 0px 2px 2px rgb(255 255 255 / 60%); */
}

.select-container .character__img {
    width: 110px;
    object-fit: cover;
}

.character {
    margin: 13.5px;
    width: auto;
    max-height: 120px;
    align-self: stretch;
    /* background: rgba(255, 255, 255, 0.5); */
    cursor: pointer;
    position: relative;
    text-align: center;
}

.character__img,
.character__name {
    margin: 0;
    padding: 0;
}

.character__img {
    filter: grayscale(0.84);
    height: 120px;
}

.character__name {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: none;
    font-size: 8px;
}

.character.active {
    transform: scale(1.05);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 20%);
    z-index: 100;
}

.character.active .character__img {
    filter: grayscale(0);
    outline: 4px solid white;
    -webkit-animation: flash 300ms linear;
    animation: flash 300ms linear;
}

.select-container {
    /* max-width: 860px; */
    /* max-width: 968px; */
    max-width: 1242px;
    display: flex;
    margin: 1em auto 3em;
    flex-wrap: wrap;
    justify-content: flex-start;
    background: #26231a;
    padding: 4px 4px 0px;
    background-color: #26231a;
    /* text-shadow: -1px -1px black, 1px 1px white; */
    /* color: gray; */
    /* border-radius: 7px; */
    /* box-shadow: 0 0.2em grey; */
}


/* .character {
    margin-bottom: 4px;
    width: auto;
    max-height: 120px;
    align-self: stretch;
    background: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    position: relative;
    text-align: center;
} */

.character__name {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: none;
}

.character__img,
.character__name {
    margin: 0;
    padding: 0;
}

.character__img {
    filter: grayscale(0.84);
    height: 120px;
}

.character.active {
    transform: scale(1.05);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    z-index: 100;
}

.character.active .character__name {
    display: block;
    width: 100%;
    background: #e3231e;
    color: black;
    opacity: 0.7;
    margin-top: 0.8em;
    /* font-size: 0.3em; */
    text-transform: uppercase;
    font-weight: 700;
    /* padding: 0.3em 0; */
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.character.active:after {
    content: "1P";
    position: absolute;
    text-align: center;
    top: -15px;
    left: 20%;
    font-size: 36px;
    color: #e3231e;
    font-weight: 700;
    /* text-shadow: 0px 0px 5px rgba(255, 255, 255, 1); */
}

.character.active .character__img {
    filter: grayscale(0);
    outline: 4px solid black;
    animation: flash 300ms linear;
}

@keyframes flash {
    0% {
        filter: brightness(100%);
    }
    20% {
        filter: brightness(150%);
    }
    40% {
        filter: brightness(100%);
    }
    60% {
        filter: brightness(150%);
    }
    80% {
        filter: brightness(100%);
    }
    100% {
        filter: brightness(150%);
    }
}

.display-character {
    display: flex;
    justify-content: space-between;
}

.player {
    max-width: 400px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
    position: relative;
    display: flex;
    justify-content: center;
}

.character__spotlight .character__img {
    filter: none;
    height: 350px;
    max-width: 350px;
    /* min-width: 350px; */
    /* border: 1px solid black; */
    object-fit: cover;
}

.player__one:after {
    content: "1P";
    position: absolute;
    text-align: center;
    top: -35px;
    right: 0;
    left: 0;
    font-size: 60px;
    color: #e3231e;
    font-weight: 700;
    /* text-shadow: 0px 10px 20px rgba(255, 255, 255, 1); */
}

.matchup-text {
    margin-top: 30px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.player__two:after {
    content: "2P";
    position: absolute;
    text-align: center;
    top: -35px;
    right: 0;
    left: 0;
    font-size: 60px;
    color: blue;
    font-weight: 700;
    /* text-shadow: 0px 10px 20px rgba(255, 255, 255, 1); */
}

.spotlight__text {
    color: white;
    font-size: 30px;
    /* text-shadow: 0px 2px 2px rgb(255 255 255 / 60%); */
    font-weight: 700;
    height: 60px;
}

.show {
    margin-top: 80px;
    background-color: #f53803;
    background-image: linear-gradient(200deg, #f53803 0%, #f5d020 94%);
}

.socials {
    display: flex;
}

.show .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px 20px;
}

.event-info {
    text-align: left;
}

.flex-show {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h2 {
    font-size: 32px;
    margin: 0;
    margin-bottom: 20px;
    color: white;
    /* text-shadow: 0px 2px 2px rgb(255 255 255 / 60%); */
}

.show a {
    font-size: 30px;
    color: black;
    text-decoration: none;
    font-weight: 700;
    text-shadow: 0px 2px 2px rgb(255 255 255 / 60%);
}

.tickets {
    display: flex;
    /* width: 50%; */
    flex-direction: column;
    margin: 0 auto;
    /* margin-top: 60px; */
}

.ticket {
    text-align: center;
    line-height: 1.2;
    display: inline-block;
    margin: 5px;
    font-weight: bold;
    padding: 20px 15px;
    background-color: lightgray;
    text-shadow: -1px -1px black, 1px 1px white;
    color: gray;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    box-shadow: 0 0.2em gray;
    font-family: "Press Start 2P", cursive;
    cursor: pointer;
    margin-bottom: 30px;
}

.ticket:active {
    box-shadow: none;
    position: relative;
    top: 0.2em;
}

.socials {
    margin-top: 30px;
}

.socials a {
    transition: all 0.3s ease-in-out;
    /* margin: 0 60px; */
    margin-right: 60px;
    text-align: center;
    display: inline-block;
    /* margin: 15px; */
    font-weight: bold;
    /* padding: 20px 15px; */
    /* background-color: lightgray; */
    /* text-shadow: -1px -1px black, 1px 1px white; */
    color: white;
    /* border-radius: 7px; */
    /* box-shadow: 0 0.2em grey; */
    font-family: "Press Start 2P", cursive;
    cursor: pointer;
    margin-bottom: 30px;
    /* width: 108px; */
}

.socials a:hover {
    color: black;
}

.socials a:active {
    box-shadow: none;
    position: relative;
    /* top: 0.2em; */
}

.socials a svg {
    font-size: 70px;
    width: 70px;
}

.rgt {
    margin-top: 40px;
    max-width: 250px;
}

.head2head {
    margin-top: 80px;
}

.matchup {
    display: flex;
    justify-content: space-between;
    /* width: 55%; */
    width: 82%;
    margin: 0 auto;
    margin-top: 50px;
    align-items: center;
    padding: 20px;
    background-color: #26231a;
    /* text-shadow: -1px -1px black, 1px 1px white; */
    color: #26231a;
    /* border-radius: 7px;
    box-shadow: 0 0.2em grey; */
}

.matchup img {
    width: 300px;
    height: 304px;
    object-fit: cover;
    border: 5px solid black;
}

.vs {
    margin-top: 10%;
}

.matchup p {
    font-size: 12px;
    margin-bottom: 0;
    border-right: 4px solid black;
    border-left: 4px solid black;
    border-bottom: 4px solid black;
    width: 300px;
    background: #e3231e;
    color: black;
    opacity: 0.7;
    margin-top: -40px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 5px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

span {
    display: block;
}

.matchup a svg {
    font-size: 40px;
    width: 40px;
    /* color: white; */
    margin-top: 20px;
}

.head-img {
    border: none !important;
}

.head-img+p {
    border: none !important;
}

.matchup a {
    transition: all 0.3s ease-in-out;
    color: white;
}

.matchup a:hover {
    color: #e3231e;
}

.matchup__player {
    /* height: 312px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.media {
    width: 33%;
    background: none;
}

form {
    width: 66%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 40px;
}

.form-font {
    width: 66%;
    margin: 0px auto 80px auto;
    margin-top: -20px;
    font-size: 36px;
    text-align: center;
    line-height: 1.2;
}

.error {
    color: red;
    line-height: 1.2;
    font-size: 18px;
    margin-bottom: 30px;
    text-align: left;
    padding-left: 15px;
}

.submit {
    color: black;
    border: none;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.submit:focus-within {
    border: none;
}

label,
.font {
    font-size: 20px;
    margin-bottom: 10px;
    line-height: 1.2;
}

input,
textarea,
select {
    font-size: 20px;
    background-color: white;
    border: 2px solid black;
    margin-bottom: 30px;
    padding: 20px 10px;
    font-family: "Press Start 2P", cursive;
    border-radius: 5px;
}

textarea {
    resize: none;
}

.chex {
    display: flex;
    margin-top: 20px;
    margin-bottom: 30px;
}

.box {
    margin-right: 240px;
    display: flex;
    align-items: center;
    margin-bottom: 60px;
    color: white;
}

.box label {
    margin-bottom: 0;
    color: white;
    margin-right: 15px;
}

.font {
    color: white;
    text-align: left;
}

input[type="checkbox"],
.target {
    margin: 0;
    /* height: 20px;
    width: 20px; */
}

input[type="radio"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    appearance: none;
    /* For iOS < 15 to remove gradient background */
    background-color: #fff;
    /* Not removed via appearance */
    margin: 0;
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    /* width: 1.15em;
    height: 1.15em; */
    border: 0.15em solid currentColor;
    border-radius: 50%;
    display: grid;
    place-content: center;
    padding: 9px;
    background: white;
}

input[type="radio"]::before {
    content: "";
    width: 0.65em;
    /* height: 0.65em; */
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em black;
    color: black;
    background-color: black;
    border: 5px solid black;
}

input[type="radio"]:checked::before {
    transform: scale(1);
}


/* input[type="text"]:focus-within,
textarea:focus-within,
select:focus-within {
    outline: none;
    border: 2px solid red;
} */

.input[type="radio"]:focus-within {
    /* border: none !important;
    outline: none; */
}

.comment {
    width: 66%;
}

@media only screen and (max-width: 1300px) {
    .select-container {
        max-width: 968px;
    }
    .show a,
    h2,
    .spotlight__text,
    .title,
    .form-font {
        font-size: 26px;
    }
}

@media only screen and (max-width: 1200px) {
    .select-container {
        max-width: 968px;
    }
    .event-info {
        margin-bottom: 0px;
    }
    .tickets {
        margin-top: 0px;
    }
}

@media only screen and (max-width: 1030px) {
    .select-container {
        max-width: 694px;
    }
    .character__spotlight .character__img,
    .commenter {
        max-width: 250px;
    }
    .comment {
        width: 80%;
        text-align: center;
        line-height: 1.2;
    }
    .spotlight__text {
        font-size: 20px;
        padding: 0 32px;
    }
    .display-character {
        margin-top: 50px;
    }
    .matchup {
        width: 92%;
    }
    /* .matchup img {
        width: 200px;
        height: 204px;
        object-fit: cover;
        border: 5px solid black;
    }
    .matchup p {
        width: 204px;
    } */
    .event-info {
        text-align: center;
    }
    .show .container {
        flex-direction: column;
        align-items: center;
    }
    .socials {
        justify-content: space-around;
        width: 50%;
        margin: 40px auto;
    }
    .socials a {
        margin-right: 0;
    }
}

@media only screen and (max-width: 850px) {
    h2,
    h1 {
        font-size: 24px;
    }
    p.spotlight__text {
        font-size: 16px;
    }
    a.ticket {
        font-size: 20px;
    }
    .socials a svg {
        font-size: 60px;
        width: 60px;
    }
    .ticket span {
        color: grey;
        font-size: 12px;
        margin-top: 20px;
    }
    .matchup img {
        width: 250px;
        height: 250px;
    }
    .matchup p {
        width: 250px;
    }
}

@media only screen and (max-width: 787px) {
    .logo {
        max-width: 300px;
        margin-top: 10px;
        margin-bottom: 50px;
    }
    .title {
        font-size: 20px;
    }
    .rgt {
        width: 200px;
    }
    .matchup img {
        width: 190px;
        height: 190px;
    }
    .matchup p {
        width: 190px;
    }
    .display-character {
        margin-bottom: 30px;
    }
    .character__spotlight .character__img {
        height: 200px;
        width: 200px;
        max-height: 200px;
        max-width: 200px;
    }
    /* .commenter {
        height: 180px;
        width: 180px;
        max-height: 180px;
        max-width: 180px !important;
    } */
    .select-container {
        max-width: 420px;
    }
    .socials a svg {
        font-size: 50px;
        width: 50px;
    }
    .socials {
        width: 70%;
    }
    .tickets {
        width: 70%;
    }
    .matchup {
        width: 90%;
    }
    .inquiries a,
    .inquiries p {
        font-size: 14px;
    }
    .head2head,
    .rgt {
        margin-top: 40px;
    }
    .chex {
        flex-direction: column;
    }
    .chex .box {
        margin-bottom: 30px;
    }
    .box label {
        margin-right: 15px;
    }
    .box {
        width: 100%;
    }
    .form-font {
        font-size: 26px;
        margin-bottom: 40px;
    }
    form {
        width: 90%;
    }
    .error {
        padding-left: 2px;
    }
    .commentators-flex {
        flex-direction: column;
        align-items: center;
    }
    .commentators-flex .character__spotlight .character__img {
        height: 275px;
        width: 275px;
        max-height: 275px;
        max-width: 275px;
    }
    .commenter p {
        font-size: 18px !important;
        padding: 0 !important;
    }
    .commenter {
        margin: 0 auto !important;
    }
    .head2head {
        margin-top: 0px;
    }
}

@media only screen and (max-width: 611px) {
    .character__spotlight .character__img {
        height: 150px;
        width: 150px;
        max-height: 150px;
        max-width: 150px;
    }
    .commenter {
        margin: 0 auto !important;
    }
    .commentators {
        display: flex;
        justify-content: center;
    }
    .commentators-flex {
        width: 96%;
    }
    .matchup img {
        width: 120px;
        height: 120px;
        object-fit: cover;
        border: 5px solid black;
    }
    .matchup p {
        width: 150px;
        font-size: 9px;
    }
    .select-container {
        max-width: 294px;
    }
    .container {
        padding: 0 10px;
    }
    h1,
    h2,
    a.ticket,
    h3 {
        font-size: 16px;
    }
    .event {
        font-size: 16px !important;
    }
    p.spotlight__text {
        font-size: 12px;
    }
    .socials a {
        width: 70px;
        padding: 10px;
    }
    .socials {
        margin: 0 auto;
    }
    .matchup img,
    .matchup p {
        width: 120px;
    }
    .matchup__player {
        height: 200px;
    }
    .rgt {
        width: 125px;
    }
    .matchup {
        width: 95%;
    }
    .audio {
        position: absolute;
        top: 2px;
        right: 7px;
    }
    .audio button {
        font-size: 22px;
        padding-right: 0;
    }
    .title {
        margin-top: 0px;
    }
    .form-font {
        font-size: 24px;
        margin-bottom: 40px;
    }
    input,
    textarea,
    label,
    .font {
        font-size: 16px;
    }
    .error {
        font-size: 14px;
    }
    form {
        width: 87%;
    }
    .comment {
        margin-bottom: 40px !important;
        margin-top: 60px;
    }
    .spotlight__text {
        padding: 0 20px;
    }
    .show .container {
        padding: 40px 20px 20px 20px;
    }
    .commenter .character__img {
        max-width: 185px !important;
        height: 185px !important;
        margin: 0 auto;
    }
    .commenter p.spotlight__text {
        font-size: 16px !important;
    }
    .head2head {
        margin-top: 60px;
    }
}