@import url("https://fonts.googleapis.com/css?family=Merriweather:400,700");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Press+Start+2P&display=swap");
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "Press Start 2P", cursive;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f5d020;
    height: 100%;
    background-attachment: fixed;
    background-color: #f9484a;
    background-image: linear-gradient(315deg, #f9484a 0%, #fbd72b 74%);
    /* background-image: url("/src/assets/streetfighter.png"); */
    display: none;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 40px 20px;
}

.audio {
    position: fixed;
    top: 20px;
    right: 20px;
}

.audio button {
    font-size: 30px;
    background: transparent;
    border: none;
}

.logo {
    max-width: 600px;
    width: 100%;
    height: auto;
}

.title {
    text-align: center;
    text-transform: uppercase;
    color: black;
    letter-spacing: 0.1em;
    text-shadow: 0px 2px 2px rgb(255 255 255 / 60%);
}

.select-container {
    background-color: lightgray;
    /* text-shadow: -1px -1px black, 1px 1px white; */
    color: gray;
    border-radius: 7px;
    box-shadow: 0 0.2em grey;
    /* max-width: 860px; */
    /* max-width: 1300px;
    display: flex;
    margin: 1em auto 3em;
    flex-wrap: wrap;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.5);
    padding: 4px 4px 0px; */
}

.select-container .character__img {
    width: 110px;
    object-fit: cover;
}

.character {
    margin: 5px;
    width: auto;
    max-height: 120px;
    align-self: stretch;
    background: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    position: relative;
    text-align: center;
}

.character__img,
.character__name {
    margin: 0;
    padding: 0;
}

.character__img {
    filter: grayscale(0.84);
    height: 120px;
}

.character__name {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: none;
}

.character.active {
    transform: scale(1.05);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 20%);
    z-index: 100;
}

.character.active .character__img {
    filter: grayscale(0);
    outline: 4px solid white;
    -webkit-animation: flash 300ms linear;
    animation: flash 300ms linear;
}

.select-container {
    /* max-width: 860px; */
    max-width: 968px;
    display: flex;
    margin: 1em auto 3em;
    flex-wrap: wrap;
    justify-content: flex-start;
    background: rgba(255, 255, 255, 0.5);
    padding: 4px 4px 0px;
    background-color: lightgray;
    /* text-shadow: -1px -1px black, 1px 1px white; */
    color: gray;
    border-radius: 7px;
    box-shadow: 0 0.2em grey;
}


/* .character {
    margin-bottom: 4px;
    width: auto;
    max-height: 120px;
    align-self: stretch;
    background: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    position: relative;
    text-align: center;
} */

.character__name {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: none;
}

.character__img,
.character__name {
    margin: 0;
    padding: 0;
}

.character__img {
    filter: grayscale(0.84);
    height: 120px;
}

.character.active {
    transform: scale(1.05);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    z-index: 100;
}

.character.active .character__name {
    display: block;
    width: 100%;
    background: #e3231e;
    color: black;
    opacity: 0.7;
    margin-top: 0.8em;
    font-size: 0.3em;
    text-transform: uppercase;
    font-weight: 700;
    padding: 0.3em 0;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.character.active:after {
    content: "1P";
    position: absolute;
    text-align: center;
    top: -15px;
    left: 20%;
    font-size: 36px;
    color: #e3231e;
    font-weight: 700;
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 1);
}

.character.active .character__img {
    filter: grayscale(0);
    outline: 4px solid black;
    animation: flash 300ms linear;
}

@keyframes flash {
    0% {
        filter: brightness(100%);
    }
    20% {
        filter: brightness(150%);
    }
    40% {
        filter: brightness(100%);
    }
    60% {
        filter: brightness(150%);
    }
    80% {
        filter: brightness(100%);
    }
    100% {
        filter: brightness(150%);
    }
}

.display-character {
    display: flex;
    justify-content: space-between;
}

.player {
    max-width: 400px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
    position: relative;
    display: flex;
    justify-content: center;
}

.character__spotlight .character__img {
    filter: none;
    height: 350px;
    border: 5px solid black;
    max-width: 350px;
    object-fit: cover;
}

.player__one:after {
    content: "1P";
    position: absolute;
    text-align: center;
    top: -35px;
    right: 0;
    left: 0;
    font-size: 60px;
    color: #e3231e;
    font-weight: 700;
    text-shadow: 0px 10px 20px rgba(255, 255, 255, 1);
}

.player__two:after {
    content: "2P";
    position: absolute;
    text-align: center;
    top: -35px;
    right: 0;
    left: 0;
    font-size: 60px;
    color: blue;
    font-weight: 700;
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 1);
}

.spotlight__text {
    color: black;
    font-size: 30px;
    text-shadow: 0px 2px 2px rgb(255 255 255 / 60%);
    font-weight: 700;
    height: 60px;
}

.show {
    margin-top: 80px;
}

h2 {
    font-size: 40px;
    margin: 0;
    margin-bottom: 20px;
    text-shadow: 0px 2px 2px rgb(255 255 255 / 60%);
}

.show a {
    font-size: 30px;
    color: black;
    text-decoration: none;
    font-weight: 700;
    text-shadow: 0px 2px 2px rgb(255 255 255 / 60%);
}

.tickets {
    display: flex;
    width: 50%;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 60px;
}

.ticket {
    text-align: center;
    line-height: 1.2;
    display: inline-block;
    margin: 5px;
    font-weight: bold;
    padding: 20px 15px;
    background-color: lightgray;
    text-shadow: -1px -1px black, 1px 1px white;
    color: gray;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    box-shadow: 0 0.2em gray;
    font-family: "Press Start 2P", cursive;
    cursor: pointer;
    margin-bottom: 30px;
}

.ticket:active {
    box-shadow: none;
    position: relative;
    top: 0.2em;
}

.socials {
    margin-top: 30px;
}

.socials a {
    transition: all 0.3s ease-in-out;
    margin: 0 60px;
    text-align: center;
    display: inline-block;
    margin: 15px;
    font-weight: bold;
    padding: 20px 15px;
    background-color: lightgray;
    text-shadow: -1px -1px black, 1px 1px white;
    color: black;
    border-radius: 7px;
    box-shadow: 0 0.2em grey;
    font-family: "Press Start 2P", cursive;
    cursor: pointer;
    margin-bottom: 30px;
    width: 108px;
}

.socials a:active {
    box-shadow: none;
    position: relative;
    top: 0.2em;
}

.socials a svg {
    font-size: 70px;
}

.rgt {
    margin-top: 80px;
    max-width: 200px;
}

.head2head {
    margin-top: 80px;
}

.matchup {
    display: flex;
    justify-content: space-between;
    width: 55%;
    margin: 0 auto;
    margin-top: 50px;
    align-items: center;
    padding: 20px;
    background-color: lightgray;
    /* text-shadow: -1px -1px black, 1px 1px white; */
    color: gray;
    border-radius: 7px;
    box-shadow: 0 0.2em grey;
}

.matchup img {
    width: 200px;
    height: 204px;
    object-fit: cover;
    border: 5px solid black;
}

.vs {
    margin-top: 10%;
}

.matchup p {
    font-size: 12px;
    margin-bottom: 0;
    width: 200px;
    background: #e3231e;
    color: black;
    opacity: 0.7;
    margin-top: -40px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 5px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

span {
    display: block;
}

.matchup a svg {
    font-size: 40px;
    color: black;
    margin-top: 20px;
}

.matchup a {
    transition: all 0.3s ease-in-out;
}

.matchup a:hover {
    opacity: 0.7;
}

.matchup__player {
    height: 312px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media only screen and (max-width: 1030px) {
    .select-container {
        max-width: 728px;
    }
    .character__spotlight .character__img {
        max-width: 250px;
    }
    .spotlight__text {
        font-size: 20px;
        padding: 0 32px;
    }
    .display-character {
        margin-top: 50px;
    }
    .matchup {
        width: 70%;
    }
}

@media only screen and (max-width: 850px) {
    h2,
    h1 {
        font-size: 24px;
    }
    p.spotlight__text {
        font-size: 16px;
    }
    a.ticket {
        font-size: 20px;
    }
    .socials a svg {
        font-size: 40px;
    }
}

@media only screen and (max-width: 787px) {
    .logo {
        max-width: 300px;
    }
    .character__spotlight .character__img {
        height: 200px;
        width: 200px;
        max-height: 200px;
        max-width: 200px;
    }
    .select-container {
        max-width: 488px;
    }
    .tickets {
        width: 70%;
    }
    .matchup {
        width: 90%;
    }
}

@media only screen and (max-width: 610px) {
    .character__spotlight .character__img {
        height: 150px;
        width: 150px;
        max-height: 150px;
        max-width: 150px;
    }
    .matchup img {
        width: 120px;
        height: 120px;
        object-fit: cover;
        border: 5px solid black;
    }
    .matchup p {
        width: 150px;
        font-size: 9px;
    }
    .select-container {
        max-width: 248px;
    }
    .container {
        padding: 0 10px;
    }
    h1,
    h2,
    a.ticket {
        font-size: 16px;
    }
    p.spotlight__text {
        font-size: 12px;
    }
    .socials a {
        width: 70px;
        padding: 10px;
    }
    .matchup img,
    .matchup p {
        width: 120px;
    }
    .matchup__player {
        height: 200px;
    }
    .rgt {
        width: 150px;
    }
    .matchup {
        width: 95%;
    }
    .audio {
        position: absolute;
        top: 2px;
        right: 7px;
    }
    .audio button {
        font-size: 22px;
        padding-right: 0;
    }
}